{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-7">
            <h2>Inscrivez vous sur ProStages</h2>
            {{ form_start(vueFormulaire) }}

            {{ form_row(vueFormulaire.email, {'attr':{'placeholder':"Exemple : tbdreals@gmail.com..."}}) }}
            {{ form_row(vueFormulaire.password, {'attr':{'placeholder':"Votre mot de passe..."}}) }}

            <button type="submit" class="btn btn-primary">Inscription</button>

            {{ form_end(vueFormulaire) }}
        </div>
    </div>
{% endblock %}
