{% extends 'base.html.twig' %}

{% block title %}Nouvelle Formation{% endblock %}

{% block contenu %}
    <h1>Créer une nouvelle formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">back to list</a>
{% endblock %}
