{% extends 'base.html.twig' %}

{% block title %}
  Ajout d'une entreprise
{% endblock %}

{% block contenu %}
  <h3>Saisissez les caractéristiques de l'entreprise que vous souhaitez ajouter.</h3>
  {{ form(vueFormulaire) }}
{% endblock %}
