{% extends 'base.html.twig' %}

{% block contenu %}
  <div class="row">
    <div class="col-10 offset-1">
      <h1>Formations</h1>
      <h2>Voici la liste des formations ouvrant à des stages</h2>
    </div>
  </div>
{% endblock %}
