{% extends 'base.html.twig' %}

{% block contenu %}
      <h1>Formations</h1>
      <h3>Formations pour lesquelles un stage a été proposé</h3>
      <br />

        {% set debutNouvelleLigne = true %}

        {% for formationCourante in formations %}

          {# Si on est au début d'une nouvelle ligne, on crée un nouveau composant card-deck #}
          {% if debutNouvelleLigne == true %}
            <div class="card-deck">
            {% set debutNouvelleLigne = false %}
          {% endif %}

          {# Afficher une carte pour la ressource courante #}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{formationCourante.intitule}}</h5>
              <p class="card-text">{{formationCourante.niveau}}<br />{{formationCourante.ville}}</p>
              <a href="{{path('prostages_stagesParFormation', {'id': formationCourante.id})}}" class="btn btn-primary">Consulter les stages</a>
            </div>
          </div>

          {# Vérifier si il faut passer à la ligne suivante (toutes les 3 ressources affichées) #}
          {% if loop.index % 3 == 0 %}
            </div>
            <br />
            {% set debutNouvelleLigne = true %}
          {% endif %}
        {% endfor %}
      </div>
{% endblock %}
