{% extends 'base.html.twig' %}

{% block title %}
  Derniers stages publiés
{% endblock %}

{% block contenu %}
  <h1>Bienvenue sur Prostages</h1>
  <p>Voici les derniers stages publiés</p>

    {% for stageCourant in stages %}
      <div class="card">
        <h5 class="card-header">{{stageCourant.entreprise.nom}}</h5>
        <div class="card-body">
          <h5 class="card-title">{{stageCourant.intitule}}</h5>
          <p class="card-text">{{stageCourant.description}}<br /><br />
            Début du stage : {{stageCourant.dateDebut | date("d/m/Y")}}
          </p>
          <a href="#" class="btn btn-primary">En savoir plus</a>
        </div>
      </div>
      <br />
    {% endfor %}
{% endblock %}
