{% extends 'base.html.twig' %}
{% block contenu %}
  <div class="row">
    <div class="col-10 offset-1">
      <h1>Bienvenue sur Prostages</h1>
      <p>
        Cette page présentera bientôt les stages proposés par le entreprises.
      </p>
    </div>
  </div>
{% endblock %}
