{% extends 'base.html.twig' %}

{% block contenu %}
  <div class="row">
    <div class="col-10 offset-1">
      <h1>Stage</h1>
      <h2>Identifiant : {{idStage}}</h2>
    </div>
  </div>
{% endblock %}
